$foreign-crimson: #C91F37;
$red-orange: #DC3023;
$cochineal-red: #9D2933;
$monza: #CF000F;
$brewed-mustard-brown: #E68364;
$pomegranate: #F22613;
$scarlet: #CF3A24;
$pure-crimson: #C3272B;
$true-red: #8F1D21;
$chestnut-rose: #D24D57;
$one-kin-dye: #F08F907;
$peach-colored: #F47983;
$red-plum-colored: #DB5A6B;
$medium-crimson: #C93756;
$cherry-blossom-color: #FCC9B9;
$washed-out-crimson: #FFB3A7;
$radical-red: #F62459;
$ibis-wing-color: #F58F84;
$wisteria-purple: #875F9A;
$bellflower-color: #5D3F6A;
$wisteria-color: #89729E;
$iris-color: #763568;
$tatarian-aster-color: #8D608C;
$thin-color: #A87CA0;
$violet-color: #5B3256;
$medium-purple: #BF55EC;
$studio: #8E44AD;
$wisteria: #9B59B6;
$light-wisteria: #BE90D4;
$sky-color: #4D8FAC;
$ultramarine-color: #5D8CAE;
$picton-blue: #22A7F0;
$dodger-blue: #19B5FE;
$picton-blue: #59ABE3;
$light-blue-color: #48929B;
$thousand-herb: #317589;
$jordy-blue: #89C4F4;
$steel-blue: #4B77BE;
$lapis-lazuli-color: #1F4788;
$navy-blue-color: #003171;
$hanada: #044F67;
$indigo-color: #264348;
$siskin-sprout-yellow: #7A942E;
$young-green-onion: #8DB255;
$fresh-onion: #5B8930;
$young-bamboo-color: #6B9362;
$patina: #407A52;
$green-bamboo: #006442;
$gossip: #87D37C;
$eucalyptus: #26A65B;
$jungle-green: #26C281;
$observatory: #049372;
$jungle-green: #2ABB9B;
$mountain-meadow: #16A085;
$turquoise: #36D7B7;
$free-speech-aquamarine: #03A678;
$ocean-green: #4DAF7C;
$patrinia-flowers: #D9B611;
$amur-cork-tree: #F3C13A;
$ripe-lemon: #F7CA18;
$japanese-triandra-grass: #E2B13C;
$rapeseed-oil-colored: #A17917;
$cream-can: #F5D76E;
$saffron: #F4D03F;
$bright-golden-yellow: #FFA400;
$sumac-dyed: #E08A1E;
$gamboge: #FFB61E;
$corn-colored: #FAA945;
$egg-colored: #FFA631;
$floral-leaf-colored: #FFB94E;
$golden-fallen-leaves: #E29C45;
$ecstasy: #F9690E;
$amber: #CA6924;
$lightning-yellow: #F5AB35;
$silver: #BFBFBF;
$cararra: #F2F1EF;
$silver-sand: #BDC3C7;
$porcelain: #ECF0F1;
$pumice: #D2D7D3;
$harbor-rat: #757D75;
$gallery: #EEEEEE;
$edward: #ABB7B7;
$lynch: #6C7A89;
$cascade: #95A5A6;
